.p-calendar {
    width: 100%;
}

.p-datepicker,
.p-datepicker-header {
    background: none;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.p-datepicker-header {
    background: rgba(255, 255, 255, 0.2);
}

.p-icon {
    color: black;
}

.p-datepicker-calendar td.p-datepicker-today span {
    outline: 2px solid rgb(83, 160, 118);
    background: none;
}

.p-datepicker-calendar td[data-pc-section='day'] {
    padding: 0.2em;
}

.p-datepicker-calendar td[data-pc-section='day'] span {
    border-radius: unset;
    width: inherit;
    height: min-content;
}