.SmallGame {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.small-game-content {
    display: grid;
    grid-template-rows: auto min-content;
}

.small-game-image {
    height: 5em;
    width: 10em;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.small-game-name {
    font-family: 'Bebas Neue';
    font-size: 20px;
    padding: 0.25em 0.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.small-game-platform {
    padding: 0.25em 0.5em;
}