.GameReleasesList {
  margin-bottom: 2rem;
}

.release-list {
    display: flex;
    padding: 1em 1em;
    height: 20rem;
    transition: box-shadow 0.2s;
    gap: 1em;
}

.section-content:has(.release-list:hover) {
    background: linear-gradient(310deg, hsla(240, 1%, 33%, 0.336) 10%, color-mix(in hsl, var(--accent-color) 20%, transparent), hsla(0, 0%, 44%, 0.349) 90%);
    transition: background 2s;
    overflow: hidden;
    border: none;
    box-shadow: unset;
}

.release-list:hover {
    cursor: pointer;
    box-sizing: border-box;
}

.release-list li {
    display: flex;
    list-style: none;
    gap: 1em;
    margin: 0 1em;
}

.release-list p {
    font-family: 'Bebas Neue';
    font-size: 20px;
    line-height: 5px;
    font-style: italic;
}

.release-list .release-date {
    color: hsl(170, 75%, 45%)
}

.release-list .GameReleaseCard:hover {
    transform: unset;
}