.GameCollection {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1em;
    padding: 1em;
}

.GameCollection.no-scroll {
    flex-wrap: wrap;
}

.GameCollection .Game {
    flex-shrink: 0;
}


/* SECTION FILTERS */
.filter-button {
    display: flex;
    background: transparent;
    /* background-color: hsl(222, 20%, 20%); */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.3em 0.5em;
}

.filter-button>svg {
    color: rgba(255, 255, 255, 0.1);
    font-size: 2.5em;
    margin-top: 6px;
    text-align: center;
    transition: color 0.2s;
}

.filter-button>svg:hover {
    color: var(--accent-color);
}

.filter-button.spaced {
    margin-right: 1em;
}

.filter-button.active>svg {
    color: var(--accent-color);

}


/* SORTING DROPDOWN */
.p-dropdown {
    background-color: #14171f;
    border: none;
}

.p-dropdown:hover .p-inputtext,
.p-dropdown:hover .p-dropdown-trigger svg,
.p-dropdown:hover .p-dropdown-clear-icon {
    color: var(--accent-color);
}

.p-inputtext {
    font-family: 'Bebas Neue';
    font-size: 2.5em;
    align-content: center;
    white-space: nowrap;
}

.p-inputtext,
.p-dropdown .p-dropdown-trigger svg,
.p-dropdown .p-dropdown-clear-icon {
    color: rgba(255, 255, 255, 0.1);
}

.Section.nsw .p-inputtext,
.Section.nsw .p-dropdown .p-dropdown-trigger svg,
.Section.nsw .p-dropdown .p-dropdown-clear-icon {
    color: color-mix(in hsl, var(--platform-nsw) 40%, transparent);
}

.Section.ps5 .p-inputtext,
.Section.ps5 .p-dropdown .p-dropdown-trigger svg,
.Section.ps5 .p-dropdown .p-dropdown-clear-icon {
    color: color-mix(in hsl, var(--platform-ps5) 40%, transparent);
}

.Section.steam .p-inputtext,
.Section.steam .p-dropdown .p-dropdown-trigger svg,
.Section.steam .p-dropdown .p-dropdown-clear-icon {
    color: color-mix(in hsl, var(--platform-steam) 40%, transparent);
}

.p-focus {
    box-shadow: none;
    outline: none;
}

.p-dropdown-panel {
    background: transparent;
}

.p-dropdown {
    padding: 0;
    display: flex;
    gap: 1em;
}

.p-dropdown .p-dropdown-clear-icon {
    margin-top: -16px;
}

.p-dropdown .p-dropdown-trigger {
    margin-top: -13px;
}

.p-dropdown .p-dropdown-clear-icon,
.p-dropdown .p-dropdown-trigger svg {
    font-size: unset;
    width: 1.5em;
    height: 1.5em;
}

.p-dropdown-items {
    background: transparent;
}

.p-dropdown-item.p-focus {
    background-color: var(--accent-color);
}

.p-dropdown-item.p-focus .p-dropdown-item-label {
    color: hsla(224, 22%, 20%, 1);
}

.p-dropdown-item-label {
    color: hsl(0, 5%, 85%);
    font-family: 'JetBrains Mono';
    letter-spacing: -0.5px;
}

.p-dropdown-items-wrapper {
    border-radius: 5px;
    background-color: hsla(224, 22%, 20%, 0.90);
    backdrop-filter: blur(4px);
}