h1 {
    font-size: 20px;
    font-family: 'Kanit';
    letter-spacing: 1px;
    margin-bottom: 0;
}

.GameCollection {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1em;
    padding: 1em;
}

.GameCollection.no-scroll {
    flex-wrap: wrap;
}

.GameCollection .Game {
    flex-shrink: 0;
}


.list-display-button {
    display: flex;
    background-color: hsl(222, 20%, 20%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.3em 0.5em;
}

.list-display-button svg {
    color: white;
    font-size: 2em;
    text-align: center;
    transition: color 0.2s;
}

.list-display-button svg:hover {
    color: var(--accent-color);
}