.CompletedGames {
    display: flex;
    user-select: none;
    /* display: grid;
    grid-template-columns: auto 3em;
    padding: 0.5em;
    user-select: none; */
}

.CompletedGames .completed,
.CompletedGames .mastered {
    font-family: 'Sora';
    font-weight: 800;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.CompletedGames .completed {
    font-size: 1.25em;
    text-align: center;
    margin-right: 1em;
}

.CompletedGames .completed svg {
    font-size: 1.25em;
    color: rgb(180, 156, 19);
    margin-right: 0.25em;
}

.CompletedGames .mastered {
    font-size: 1.25em;
    margin-right: 0.25em;
}

.CompletedGames .mastered svg {
    color: hsl(180, 50%, 60%);
    font-size: 1.25em;
    margin-right: 0.25em;
}

.p-tooltip-text {
    color: hsl(0, 5%, 85%);
    background-color: hsla(222, 20%, 20%);
    border-radius: 5px;
    font-family: 'Jetbrains Mono';
    letter-spacing: -0.5px;
}