hr {
    /* border-bottom: 2px solid hsl(0, 0%, 80%); */
    background-color: white;
    width: 100%;
    border-radius: 20px;
    height: 1px;
}

h1 {
    cursor: pointer;
    transition: 0.25s;
}

h1:hover {
    color: white;
    transition: 0.25s;
}

.Profile {
    display: grid;
    grid-template-columns: auto minmax(10em, 30em);
    margin: 0 10em;
}

.Profile .Main {
    display: grid;
    grid-template-rows: min-content min-content min-content auto min-content min-content auto;
    margin: 1em;
}

.Profile .Aside {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    margin: 1em;
    gap: 1em;
}


/* Acitivity bullet lines */

ul.ActivityList {
    padding-left: 1em;
}

ul.ActivityList li {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 2.5em;
}

ul.ActivityList li:after {
    /*bullets*/
    position: absolute;
    left: -26px;
    top: 0px;
}

ul.ActivityList li:before {
    /*lines*/
    content: '';
    position: absolute;
    left: -12px;
    border-left: 1px solid hsl(0, 0%, 80%);
    height: 100%;
    width: 1px;
}

ul.ActivityList li:first-child:before {
    /*first li's line*/
    top: 10px;
}

ul.ActivityList li:last-child:before {
    /*last li's line*/
    height: 10px;
}