h1 {
    font-size: 20px;
    font-family: 'Kanit';
    letter-spacing: 1px;
    margin-bottom: 0;
}

.CardSection {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0.5em;
    /* background: radial-gradient(circle, rgba(4, 255, 163, 0.04) 28%, rgba(24, 63, 59, 0) 100%); */
}