.ActivityCard {
    display: grid;
    grid-template-rows: auto min-content min-content;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: linear-gradient(310deg, hsla(240, 1%, 33%, 0.336) 10%, color-mix(in hsl, hsl(222, 19%, 35%) 20%, transparent), hsla(0, 0%, 44%, 0.349) 90%);
}

.ActivityCard img {
    width: 150px;
    border-radius: 5px;

}