.Home {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.Home .home-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
}



/* 
.Home>div:first-child {
    display: grid;
    grid-template-columns: 1fr 25em;
    gap: 1em;
}

.Home>div:first-child>div:first-child {
    max-width: 15em;
}

.Home>div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 25em;
    gap: 1em;
} */