/* Game Ratings */
.GameRatingSelector {
    display: flex;
    flex-direction: row;
}

.GameRatingStar {
    cursor: pointer;
}

.GameRatingStar .full-star,
.GameRatingStar .half-star {
    color: goldenrod;
}

.GameRatingStar.hovered .full-star,
.GameRatingStar.hovered .half-star,
.GameRatingStar.hovered .empty-star {
    color: hsl(170, 75%, 45%);
}