/*DIALOG BOX*/
.GameDataDialog {
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: auto;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.GameDataDialog .p-dialog-content {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0px 0px 16px 16px;
}

.GameDataDialog .p-dialog-header {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px 16px 0px 0px;
}


/*ELEMENTS INSIDE THE DIALOG BOX*/
.GameDataDialog .dialog-content {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.GameDataDialog .dialog-content>div {
    font-family: 'Bebas Neue';
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0.5em;
    color: hsl(0, 5%, 85%);
}

.GameDataDialog .p-dialog-content>div input::placeholder {
    color: hsl(0, 5%, 85%, 0.5);
}

.GameDataDialog .dialog-content>div input,
.GameDataDialog .dialog-content>div select {
    font-family: 'Kanit';
    color: hsl(0, 5%, 85%);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.5em;
    width: 60%;
    height: 2em;
    text-align: center;
    align-self: center;
    box-sizing: border-box;
}

.GameDataDialog .dialog-content>div input {
    outline: none;
}

.GameDataDialog .dialog-content>div select {
    cursor: pointer;
}


/*PLATFORM SELECTOR*/
.GameDataDialog .dialog-content .dialog-platform {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    width: 60%;
    gap: 0.5em;
}

.GameDataDialog .dialog-content .dialog-platform input[type='radio'] {
    display: none;
}

.GameDataDialog .dialog-content .dialog-platform input[type='radio']:checked+label {
    background-color: rgba(255, 255, 255, 0.4);
}

.GameDataDialog .dialog-content .dialog-platform label {
    display: grid;
    place-content: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    user-select: none;
    cursor: pointer;
    font-size: 1.5em;
    padding: 0.25em;
    transition: 0.1s;
}

.GameDataDialog .dialog-content .dialog-platform label:hover {
    transform: scale(1.1);
}

.GameDataDialog .dialog-content .dialog-platform label svg {
    display: block;
    margin: auto;
    filter: drop-shadow(0px 0px 5px hsla(0, 0%, 0%, 0.5));
}


/*SUBMIT BUTTON*/
.GameDataDialog .submit-game {
    width: 10em;
    height: 3em;
    font-family: 'Kanit';
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.5em;
    color: hsl(0, 5%, 85%);
    align-self: center;
    margin-top: 3em;
}

.GameDataDialog .submit-game:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 40%);
    border-color: hsl(170, 75%, 50%);
}

div.p-datepicker {
    z-index: 999999999999999999999999999999999999999999999999999 !important;
}