.Card {
    position: relative;
    display: grid;
    grid-template-columns: auto 1.75em;
    height: 16em;
    width: 11em;
    border-radius: 0.3em;
    overflow: hidden;
    box-shadow: 4px 4px 10px 1px hsla(0, 0%, 0%, 0.5);
    background: url(../../assets/bg.png);
    background-size: cover;
}

/*Tilt animation test*/
.tilt-animation {
    transform-origin: center;
    transform: perspective(800px) rotateY(25deg);
}

.tilt-animation:hover {
    transition: 0.5s;
    transform: perspective(800px) rotateY(0deg);
}

.Card .card-content {
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    padding: 0.25em;
    gap: 0.5em;
}

.Card .card-completion,
.Card .card-rating {
    font-size: 1.15em;
    filter: drop-shadow(0 0 2px rgb(0 0 0 / 1));
}

.Card .card-name {
    padding-bottom: 0;
    display: flex;
    align-items: end;
    font-family: 'Bebas Neue';
    font-size: 1.5em;
    line-height: 1em;
    text-shadow: hsl(0, 0%, 20%) 1px 0 10px;
    user-select: none;
}

.Card .card-tools {
    display: flex;
}

.Card .card-tools button {
    padding: 0;
    border: none;
    background: none;
    font-size: 1.25em;
    color: hsl(0, 60%, 98%);
    transition: 0.25s;
}

.Card .card-tools button.card-delete {
    right: 0;
    margin-left: auto;
}

.Card .card-tools button:hover {
    cursor: pointer;
}

.Card .card-tools .card-favorite:hover {
    color: rgb(255, 70, 150);
}

.Card .card-tools .card-delete:hover {
    color: hsl(0, 90%, 60%);
}

.Card .card-platform {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0.25em;
    gap: 0.2em;
}

.Card .card-platform div {
    display: flex;
    font-size: 20px;
}

.Card .card-platform span {
    flex-grow: 1;
    font-size: 1.5em;
    line-height: 0.9em;
    font-family: 'Bebas Neue';
    writing-mode: vertical-rl;
    text-orientation: mixed;
    user-select: none;
    justify-items: start;
}

.Card .card-platform.nsw {
    background: linear-gradient(180deg, hsl(0, 60%, 40%) 50%, hsl(0, 60%, 50%) 100%);
    color: hsl(0, 60%, 90%);
}

.Card .card-platform.steam {
    background: linear-gradient(180deg, hsl(0, 0%, 10%) 20%, hsl(0, 0%, 20%) 100%);
    color: hsl(0, 0%, 90%)
}

.Card .card-platform.ps5 {
    background: linear-gradient(180deg, hsl(215, 90%, 65%) 50%, hsl(215, 90%, 80%) 100%);
    color: hsl(215, 90%, 95%);
}

/* Card Ratings */
.CardRatingSelector {
    display: flex;
    flex-direction: row;
}

.CardRatingStar {
    cursor: pointer;
}

.CardRatingStar .full-star,
.CardRatingStar .half-star {
    color: goldenrod;
}



.CardRatingStar.hovered .full-star,
.CardRatingStar.hovered .half-star,
.CardRatingStar.hovered .empty-star {
    color: hsl(170, 75%, 45%);
}