hr {
    max-width: 800px;
    margin-left: 0;
}

.Backlog {
    display: grid;
    grid-template-columns: auto 10em;
    margin: 1em 1em;
}

.Backlog .Content {
    display: grid;
    grid-template-rows: min-content min-content auto;
}

.Backlog .Aside {
    display: flex;
    justify-content: center;
}