.NavBar {
    display: flex;
    align-items: center;
    background-color: hsl(0, 5%, 10%);
    height: 4em;
    padding: 0 1em;
}

.logo {
    cursor: pointer;
    font-family: 'Bebas Neue';
    text-align: left;
    font-size: 2.5em;
    transition: color 0.5s;
}

.logo:hover {
    color: hsl(170, 75%, 45%);
    /* font-family: 'Press Start 2P';
    font-size: 1.25em; */
    /* transform: rotateZ(-4deg); */
}

.searchbar {
    margin-left: auto;
    height: 2em;
    border-radius: 5px;
}


/*  */
.NavBar input:focus {
    outline: none;
}