.Section {
    width: auto;
    overflow: hidden;
}

.section-title {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;
    padding: 0.25em 1em 0.5em 0.5em;
    user-select: none;
}

.section-title>span {
    white-space: nowrap;
    font-family: 'Kanit';
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.25);
}

.section-content {
    overflow-x: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    background: linear-gradient(310deg, hsla(240, 1%, 33%, 0.336) 10%, color-mix(in hsl, white 20%, transparent), hsla(0, 0%, 44%, 0.349) 90%);
}


.Section.nsw .section-content {
    background: linear-gradient(310deg, hsla(240, 1%, 33%, 0.336) 10%, color-mix(in hsl, var(--platform-nsw) 40%, transparent), hsla(0, 0%, 44%, 0.349) 90%);
}

.Section.ps5 .section-content {
    background: linear-gradient(310deg, hsla(240, 1%, 33%, 0.336) 10%, color-mix(in hsl, var(--platform-ps5) 40%, transparent), hsla(0, 0%, 44%, 0.349) 90%);
}

.Section.steam .section-content {
    background: linear-gradient(310deg, hsla(240, 1%, 33%, 0.336) 10%, color-mix(in hsl, var(--platform-steam) 40%, transparent), hsla(0, 0%, 44%, 0.349) 90%);
}