.ActivitiesWidget .p-timeline-event-opposite {
    display: none;
}

.ActivitiesWidget .section-content {
    cursor: pointer;
    overflow: hidden;
}

.ActivitiesWidget .section-content:hover {
    background: linear-gradient(310deg, hsla(240, 1%, 33%, 0.336) 10%, color-mix(in hsl, var(--accent-color) 20%, transparent), hsla(0, 0%, 44%, 0.349) 90%);
}

.ActivitiesWidget .p-timeline {
    padding: 1.25em 1em;
}

.ActivitiesWidget .p-timeline-event-content {
    letter-spacing: -0.5px;
    font-family: 'Jetbrains Mono';
    font-size: 14px;
    user-select: none;
}

.ActivitiesWidget .section-content {
    height: 9.3em;
}

.ActivitiesWidget .p-timeline-event {
    min-height: 24px;
}

.ActivitiesWidget .p-timeline-event .p-timeline-event-content {
    width: 10em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    margin-top: -6px;
}

.ActivitiesWidget .p-timeline-event-marker {
    height: 10px;
    width: 10px;
    background-color: var(--accent-color);
}

.ActivitiesWidget .p-timeline-event-connector {
    background-color: var(--accent-color);
}