.CompletedGamesPage {
    display: flex;
    justify-content: center;
}

.CompletedGamesPage .GameCollection {
    flex-wrap: wrap;
}

.CompletedGamesPage .completed-games-content {
    width: 40em;
}