.GameCard {
    position: relative;
    display: grid;
    grid-template-rows: 10fr 1fr;
    height: 17em;
    width: 11em;
    border-radius: 0.5em;
    gap: 0.15em;
    background-color: hsla(0, 0%, 0%, 0.15);

    perspective: 1000px;
}

.GameCard .game-background {
    cursor: pointer;
    display: grid;
    background-size: cover !important;
    background-position: center !important;
    box-shadow: 4px 4px 10px 1px hsla(0, 0%, 0%, 0.5);
    padding: 0.25em;


    z-index: 1;
    border-radius: 0.5em;
    overflow: hidden;
    background-image: linear-gradient(120deg, hsl(46, 89%, 68%) 0%, hsl(13, 97%, 76%) 100%);
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    transform-origin: top center;
    will-change: transform;
    transform: skewX(0.001deg);
    transition: transform 0.25s ease-in-out;
}

/* glass effect */
.GameCard .game-background::after {
    display: block;
    content: "";
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: linear-gradient(226deg, hsla(0, 0%, 100%, 0.4) 0%, hsla(0, 0%, 100%, 0.3) 35%, hsla(0, 0%, 100%, 0.2) 42%, hsla(0, 0%, 100%, 0) 60%);
    transform: translateY(-20%);
    will-change: transform;
    transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}

/* card movement on hover */
.GameCard:hover .game-background {
    transform: rotateX(10deg) translateY(-10px);
}

.GameCard:hover .game-background::after {
    transform: translateY(0%);
}

.GameCard .bottom-bar {
    font-size: 14px;
    font-family: var(--default-font);
    display: flex;
    gap: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    justify-content: center;
}

.GameCard .bottom-bar>span {
    align-self: center;
}

.GameCard .bottom-bar .challenges {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.GameCard .bottom-bar .challenges svg {
    font-size: 16px;
    color: hsl(183, 95%, 52%);
}